/* ==========GLOBAL STYLES========== */
.center-text {
  text-align: center;
}

.standard-padding {
  padding: 7% 15%;
}

.light-text {
  color: #8f8f8f;
}

.white-text {
  color: #fff;
}

/* ==========TAG SELECTORS========== */
body {
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.nav-link {
  font-family: "Montserrat", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

/* ==========CLASS SELECTORS========== */
.container-fluid {
  padding: 3% 15% 7%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 200;
}

.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.custom-btn {
  margin: 5% 3% 5% 0;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.feature-box {
  padding: 5%;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.card {
  margin: 10px 10px;
}

.price-col {
  padding: 3% 2%;
}

.social-icon {
  margin: 20px 10px;
}

/* ==========ID SELECTORS========== */
#title,
#cta {
  background-color: #ff4c68;
}

#title-img {
  width: 22%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

#features {
  background-color: #fff;
  position: relative;
}

#testimonials {
  background-color: #ef8172;
}

#press {
  padding-bottom: 3%;
  background-color: #ef8172;
}

#pricing {
  padding: 100px;
}

/* ==========MEDIA QUERY========== */
@media (max-width: 1028px) {
  .big-heading {
    font-size: 2.5rem;
  }

  #title {
    text-align: center;
  }

  #title-img {
    width: 50%;
    position: static;
    transform: rotate(0deg);
  }
}
